.method {
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 1px dashed #000000;
  border-radius: 5px;
  padding: 2px 6px;
  /* margin: 12px 0 0; */
}
.texts
{

  background-color:transparent;
  height: 7vh;
  
}
.text
{
  margin-top: 10px;
  font-weight: bold;
 
}